@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(./assets/font/Montserrat.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
}

nav {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 2rem;
  background: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1rem;
  font-weight: bold;
  max-width: 90%;
}

nav a {
  position: relative;
}

nav a:hover {
  color: rgb(187, 0, 255); /* ou la couleur de survol de ton choix */
}

nav a:hover::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(187, 0, 255);
  border-radius: 2px;
}

.language {
  background: rgb(175, 175, 176);
  padding: 0.7rem;
  border-radius: 30px;
}

header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #383838 url(./assets/img/bg.jpg) no-repeat center center;
  background-position: 50% 45%;
  margin-top: 2rem;
  padding: 5rem;
  color: white;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-header button {
  padding: 1rem 2rem 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: none;
  border: 2px solid white;
  letter-spacing: 0.1rem;
  border-radius: 15px;
}

.main-header button:hover {
  background: rgba(141, 139, 139, 0.555);
  cursor: pointer;
}

.header-text {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: large;
  font-weight: bold;
}

.header-text p {
  display: flex;
  text-align: center;
  max-width: 80%;
  line-height: 1.7rem;
}

.icon-part-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "GBS GA GG";
  background: rgb(40, 39, 39);
  color: white;
}

.list-icon-part:nth-child(1) {
  grid-area: GBS;
}

.list-icon-part:nth-child(2) {
  grid-area: GA;
}

.list-icon-part:nth-child(3) {
  grid-area: GG;
}

.list-icon-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding-left: 15%;
  padding-right: 15%;
}

.list-icon-part button {
  padding: 1rem 2rem 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: none;
  border: 2px solid white;
  letter-spacing: 0.1rem;
  border-radius: 15px;
}

.list-icon-part button:hover {
  background: rgba(141, 139, 139, 0.555);
  cursor: pointer;
}
